/* .App {
  background-color: #F8FBF5;
} */


.main-content{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #000001; */
}

.primary-bg {
  background-color: #e9dbca;
  color: #443a35;
}

/* .secondary-bg {
  background-color: ;
} */
/* .calendar {
  width: 
} */

.nav-logo{
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
.content-box {
  width: 200px;
  height: 150px;
  padding: 20px;
  margin: 10px;
  background-color: #C9C78B;
  border: 2px solid #746359;
  -moz-border-radius: 3em 1em;
  -webkit-border-radius: 3em 1em;
  border-radius: 3em 1em;
  text-align: center;
}

.nav{
  height: 60px;
}

.nav-links{
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #443a35;
  margin: 0px 10px;
}

ul {
  list-style-type: none;
  /* text-decoration: none; */
  display: flex;
  align-content: center;
  justify-content: space-between;
  gap: 20px;
}

.current{
  text-decoration: none;
  font-weight: bold;
}

.footer {
  height: 100px;
  position: relative;
}

label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  min-width: 350px !important;
  max-width: 700px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

/* .profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
} */

.calendar-selected-date {
  background-color: #e9dbca;
  color: #443a35;
  padding: 1em;
  border: 1.5px solid #746359;
  border-radius: 10px;
  box-shadow: 0 10px 24px rgb(116, 99, 89, 0.4);
  font-family: Arial, Helvetica, sans-serif;
  /* text-decoration: ; */
  /* font-weight: ; */
}

/* REACT CALENDAR FORMATTING */
.react-calendar {
  width: 800px;
  max-width: 100%;
  background-color: #ece5dc;
  color: #443a35;
  border: 1.5px solid #746359;
  border-radius: 10px;
  box-shadow: 0 10px 24px rgb(116, 99, 89, 0.4);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.75em;
}

/* the top line with the month and year--> also including the toggle buttons on both sides to change the month */
.react-calendar__navigation button {
  color: #443a35;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
  background-color: #C9C78B;
  border-radius: 10px 10px 0px 0px;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}

.react-calendar__month-view__days__day--weekend {
  /* color: #d10000; */
  color: white;
}

/* CHANGE THE NEIGHBORING MONTH DAYS TO A DIFFERENT DARKER COLOR */
.react-calendar__month-view__days__day--neighboringMonth {
  color: white;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 1em 0.75em;
  background: none;
  border-radius: 10px;
  /* line-height: 16px; */
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__tile--now {
  /* background: #ffff76; */
  /* used to be indigo-ish purple */
  /* background-color: #6f48eb; */
  background-color: #c9b4a8;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  /* background: #006edc; */
  /* background: #6f48eb; */
  background: #c9b4a8;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  /* background: #1087ff; */
  background: #bb9a88;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
